webap_captcha/python/.venv/
webap_captcha/python/.python-version
webap_captcha/python/uv.lock
webap_captcha/python/webap_captcha.tflite
webap_captcha/python/**/__pycache__/
webap_captcha/python/**/*.bmp